<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suyihan.mapper.ClasssitMapper">

    <select id="querySitByCondition" resultType="com.suyihan.entity.Classsit" parameterType="com.suyihan.entity.QueryClasssitCondition">
        select sit.syh_sit_id,sit.syh_sit_name,sit.syh_sit_update_time,sit.syh_sit_status,sit.syh_classroom_id,room.syh_classroom_number
        from syh_classsit sit
        left join syh_classroom room on room.syh_classroom_id=sit.syh_classroom_id
        where 1=1
        <if test="syhClassroomId!=null and syhClassroomId !=''">
           and sit.syh_classroom_id=#{syhClassroomId}
        </if>
        <if test="syhClasssitName!=null and syhClasssitName !=''">
            and sit.syh_sit_name like concat('%',concat(#{syhClasssitName},'%'))
        </if>
    </select>
</mapper>
