<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suyihan.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.suyihan.entity.User">
        <id column="syh_user_id" jdbcType="BIGINT" property="syhUserId" />
        <result column="syh_user_number" jdbcType="INTEGER" property="syhUserNumber" />
        <result column="syh_user_name" jdbcType="VARCHAR" property="syhUserName" />
        <result column="syh_password" jdbcType="VARCHAR" property="syhPassword" />
        <result column="syh_phone" jdbcType="VARCHAR" property="syhPhone" />
        <result column="syh_email" jdbcType="VARCHAR" property="syhEmail" />
        <result column="syh_sex" jdbcType="INTEGER" property="syhSex" />
        <result column="syh_register_time" jdbcType="TIMESTAMP" property="syhRegisterTime" />
        <result column="syh_status" jdbcType="INTEGER" property="syhStatus" />
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        select *
        from syh_user
    </select>
    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from syh_user
        where syh_user_id = #{userId,jdbcType=INTEGER}
    </select>
    <select id="selectUserByLoginName" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from syh_user
        where syh_user_number = #{userLoginName,jdbcType=VARCHAR}
    </select>
    <insert id="insertUser" parameterType="com.suyihan.entity.User">
        insert into syh_user (syh_user_id, syh_user_number, syh_user_name,
                              syh_password, syh_phone, syh_email,
                              syh_sex, syh_register_time, syh_status
        )
        values (#{syhUserId,jdbcType=BIGINT}, #{syhUserNumber,jdbcType=INTEGER}, #{syhUserName,jdbcType=VARCHAR},
                #{syhPassword,jdbcType=VARCHAR}, #{syhPhone,jdbcType=VARCHAR}, #{syhEmail,jdbcType=VARCHAR},
                #{syhSex,jdbcType=INTEGER}, #{syhRegisterTime,jdbcType=TIMESTAMP}, #{syhStatus,jdbcType=INTEGER}
               )    </insert>
    <update id="updateUserById" parameterType="com.suyihan.entity.User">
        update syh_user
        set syh_user_number = #{syhUserNumber,jdbcType=INTEGER},
            syh_user_name = #{syhUserName,jdbcType=VARCHAR},
            syh_password = #{syhPassword,jdbcType=VARCHAR},
            syh_phone = #{syhPhone,jdbcType=VARCHAR},
            syh_email = #{syhEmail,jdbcType=VARCHAR},
            syh_sex = #{syhSex,jdbcType=INTEGER},
            syh_register_time = #{syhRegisterTime,jdbcType=TIMESTAMP},
            syh_status = #{syhStatus,jdbcType=INTEGER}
        where syh_user_id = #{syhUserId,jdbcType=BIGINT}
    </update>
    <select id="selectUserByCondition" parameterType="com.suyihan.entity.QueryUserCondition" resultMap="BaseResultMap">
        select * from syh_user where 1=1
<!--        <if test="loginName!=null and loginName!=''">-->
<!--            and USER_LOGIN_NAME = #{loginName,jdbcType=VARCHAR}-->
<!--        </if>-->
        <if test="userName!=null and userName !=''">
            and syh_user_name like concat('%',concat(#{userName},'%'))
        </if>
        <if test="status!=null and status !=''">
            and syh_status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="startTime!=null and stopTime!=null">
            and syh_register_time between #{startTime,jdbcType=TIMESTAMP} and #{stopTime,jdbcType=TIMESTAMP}
        </if>
        order by syh_user_id

    </select>
</mapper>
